/* Elements */

body {margin: 0; max-width: 1200px; background: #fff; font-family: sans-serif;}
main {margin: 0 3em; padding: 1em; line-height: 1.6; font-size: 88%;}
h1, h2 {margin-bottom: 0.6em; font-weight: normal; border-bottom: 1px solid #a2a9b1; overflow: hidden;}
ul, ol {margin: 0.3em 0 0 1.6em; padding: 0;}
dt {font-weight: bold;}
dd, dl dl {margin-block: 0; margin-inline-start: 30px;}
th {border-top: 2px solid #fdfdfd;}

/* Header */

.header-container {padding: 1em; background: #ddd;}
header {display: flex; line-height: 1em;}
header div {margin: 0 1em 0 2em;}
header .wiki-name a {color: black; font-size: 1.6em; font-family: serif;}
header .search {margin-top: -0.5em; border: 1px solid #fff; border-radius: 2px; padding: 7px 0 7px 2em; outline: 0;}
#nav-menu {position: absolute; left: 0; background: #ddd;}
#nav-menu ul {list-style-type: none; margin: 1em; padding: 1em;}
#nav-menu li {margin-left: -0.5em;}

input.toggle {visibility: hidden;}
.button-icon {position: absolute; font-size: 3em;}

/* Page content */

#toc {display: inline-block; border: 1px solid #aab; padding: 8px; background-color: #f8f8f8; font-size: 95%;}
#toc-heading {display: block; text-align: center;}
#toc ol {margin: 0 0 0 1.3em;}

.hatnote {margin-left: 1em; font-style: italic;}

.infobox {float: right; font-size: 90%;}
.infobox-subheader, .infobox-full-data {text-align: center;}

.thumb {margin: 1em;}
.thumb.tright {float: right; clear: right;}
.thumb.tleft {float: left; clear: left;}
.thumbinner, .image-frame {padding: 6px; border: 1px solid gray;}
.thumbcaption {padding-top: 6px;}

:is(.wikitable, .infobox) {border-collapse: collapse;}
:is(.wikitable, .infobox), :is(.wikitable, .infobox) :is(th, td) {border: 1px solid gray; padding: 6px;}
:is(.wikitable, .infobox) th {background-color: #eaecf0; text-align: center;}

a:not(:hover) {text-decoration: none;}
a.internal-link {color: #04a;}
a.internal-link:visited {color: #26d;}
a.external-link {color: #36b;}
a.external text::after {content: '→';}
a.external-link:visited {color: #58d;}
a.external-link::after {content: '\1f855';}
a.redlink {color: #d33;}
a.redlink:visited {color: #b44;}

.mw-editsection {margin-left: 1em; font-size: small; vertical-align: baseline;}
.mw-editsection-bracket:first-of-type {margin-right: 0.25em;}
.mw-editsection-bracket:last-of-type {margin-left: 0.25em;}

.navbox {font-size: 90%;}
.navbox-group {background-color: #ddf; white-space: nowrap;}
.navbox-title, .navbox th {background-color: #ccf; border-color: #ccf;}

.hlist :is(ul, li) {margin: 0; display: inline;}
.hlist li ul::before {content: ' (';}
.hlist li ul::after {content: ') ';}
.hlist li:not(:first-child)::before {content: '•'; margin: 0 2px 0 0;}

.fd .chevron-wrapper, .fd .section-edit-link {display: none;}

.mw-collapsible.mw-collapsed {display: none;}

/* Misc */

.hide {display: none;}
